language: cpp
os: 
  -linux
compiler:
  - gcc

install:

  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo add-apt-repository -y ppa:robotology/ppa; sudo apt-get update; sudo apt-get install cmake; fi
  - cmake --version
  
before_script:
- cmake --version
- mkdir -p build

# Change this to your needs
script: 
- cd build
- cmake ../
- make

